out/S4_geneconv/msa_m0.00010_rc0.0000010_n5000_dual0.05_rep1.tab filter=lfs diff=lfs merge=lfs -text
out/S4_geneconv/msa_m0.00010_rc0.0000010_n5000_dual0.05_rep2.tab filter=lfs diff=lfs merge=lfs -text
out/S4_geneconv/msa_m0.00010_rc1.0E-7_n5000_dual0.05_rep2.tab filter=lfs diff=lfs merge=lfs -text
