
// Separates individual runs/reps into individual qsub jobs
process {

  executor = 'pbs'

  withLabel: small {
    queue = 'smallq'
  }

  withLabel: med {
    queue = 'medq'
    time = '168h'
  }

}

/*
// Singularity containers - syslabs cloud builder
process {

    withName:prepro { container = 'library://fredjaya/rec-bench/prepro' }

    withName:phipack_s { container = 'library://fredjaya/rec-bench/phi' }
    withName:phipack_e { container = 'library://fredjaya/rec-bench/phi' }

    withName:'3seq_s' { container = 'work/singularity/3seq_latest.sif' }
    withName:'3seq_e' { container = 'library://fredjaya/rec-bench/3seq' }

}

singularity { enabled = true }

// Singularity containers - singularity hub
process {
    withName:prepro { container = 'shub://fredjaya/rec-bench:prepro' }

    withName:phipack_s { container = 'shub://fredjaya/rec-bench:phi' }
    withName:phipack_e { container = 'shub://fredjaya/rec-bench:phi' }

    withName:'3seq_s' { container = 'shub://fredjaya/rec-bench:3seq' }
    withName:'3seq_e' { container = 'shub://fredjaya/rec-bench:3seq' }

}

singularity { enabled = true }
*/
