
manifest {
  author = 'Fred Jaya'
  homePage = 'https://github.com/fredjaya/rec-bench'
  description = 'Benchmarking recombination detection methods'
}

singularity {
  enabled = true
  autoMounts = true //what does this do?
}

trace {
  enabled = true
  file = 'trace.csv'
  sep = ','
  // fields - can this be unspecified and generate same default as --with-trace?
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}

process {

  withLabel: small {
    queue = 'smallq'
  }

  // 'clusterOptions' may not be necessary as error is due to job number
  withLabel: med {
    queue = 'medq'
    clusterOptions = '-l select=1:ncpus=4:mem=16GB -l walltime=120:00:00'
  }

}

/*
// Singularity containers - syslabs cloud builder
process {

    withName:prepro { container = 'library://fredjaya/rec-bench/prepro' }

    withName:phipack_s { container = 'library://fredjaya/rec-bench/phi' }
    withName:phipack_e { container = 'library://fredjaya/rec-bench/phi' }

    withName:'3seq_s' { container = 'work/singularity/3seq_latest.sif' }
    withName:'3seq_e' { container = 'library://fredjaya/rec-bench/3seq' }

}

singularity { enabled = true }

// Singularity containers - singularity hub
process {
    withName:prepro { container = 'shub://fredjaya/rec-bench:prepro' }

    withName:phipack_s { container = 'shub://fredjaya/rec-bench:phi' }
    withName:phipack_e { container = 'shub://fredjaya/rec-bench:phi' }

    withName:'3seq_s' { container = 'shub://fredjaya/rec-bench:3seq' }
    withName:'3seq_e' { container = 'shub://fredjaya/rec-bench:3seq' }

}

singularity { enabled = true }
*/
