
manifest {
  name = 'fredjaya/rec-bench'
  author = 'Fred Jaya'
  homePage = 'https://github.com/fredjaya/rec-bench'
  description = 'Benchmarking of recombination detection methods using SANTA-SIM'
  mainScript = 'main.nf'
}

params {

  bin = "$baseDir/bin"
  help = false
  mode = 'none'
  out = "${baseDir}/out"
  seq = false
  //seqnum = false
  tracedir = "${params.out}/tracing"
  xml = "./santa.xml"

}

profiles {
  // TO DO: Only container/env profiles, should add local/HPC?

  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    enabled = true
    container = 'fredjaya/rec-bench:latest'
  }
  singularity { enabled = false }

  }

executor {
  // TO DO: check if this can be set per queue
  queueSize = 200
}

process {
  withName: S4_santa {
    executor = 'pbs'
    queue = 'smallq'
    cpus = 2
    memory = 8.GB
  }
}

trace {
  enabled = true
  file = "${params.tracedir}/trace.csv"
  sep = ','
}

timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}

report {
  // TO DO: Fix 'install graphviz'
  enabled = true
  file = "${params.tracedir}/report.html"
}

dag {
  enabled = true
  file = "${params.tracedir}/flowchart.pdf"
}

process {
    executor = 'local'
    cpus = 2
    memory = 4.GB
  }
